{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="card p-2">

		{% if friend_requests %}
		<div class="d-flex flex-row flex-wrap">
		{% for request in friend_requests %}
		<div class="card flex-row flex-grow-1 p-2 mx-2 my-2 align-items-center">
			<a class="profile-link" href="{% url 'account:view' username=request.sender.username %}">
				<div class="card-image m-2">
					<img class="img-fluid profile-image" src="{{request.sender.profile_image.url}}" alt="" width="100">
				</div>
			</a>
			<a class="profile-link" href="{% url 'account:view' username=request.sender.username %}">
				<div class="card-center px-2">
					<h4 class="card-title">{{request.sender.username}}</h4>
				</div>
			</a>
			<div class="d-flex flex-row card-right flex-grow-1 justify-content-end mx-2">
				<form method="post" action="{% url 'friend:friend-request-accept' friend_request_id.0 %}">
					{% csrf_token %}
					<input type="submit" value="accept" />
				</form>

				<form method="post" action="{% url 'friend:friend-request-decline' friend_request_id.0 %}">
					{% csrf_token %}
					<input type="submit" value="decline" />
				</form>
			</div>
		</div>
		{% if forloop.counter|divisibleby:2 %}
		</div><div class="d-flex flex-row flex-wrap">
		{% endif %}
		
		{% endfor %}
		
		{% else %} <!-- If no friends -->
		<div class="d-flex flex-row flex-grow-1 justify-content-center align-items-center p-4">
			<p>No results</p>
		</div>
		{% endif %}
		</div>
	</div>
	
</div>


{% endblock %}
