{% extends "base.html" %}
{% block content %}
    <h2>Login</h2>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}


    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="{% url 'homepage' %}" />
    </form>
    <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
    <p>
        <a href="{% url 'homepage' %}">Back to homepage</a>
    </p>
{% endblock content %}