{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
    <div>
        <div>
            <h3>Edit list:</h3>
            <h5>{{ checklist.title | upper }}</h5>
        </div>
        <ul>
            {% for entry in object_list %}
            <li>
                <div>
                    <button>
                    <a
                        class="btn btn-primary"
                        href="/{{ user.username }}/list/{{ checklist.id }}/">
                        {{ entry.name }}
                    </a>
                    </button>
                </div>
            </li>
            {% empty %}
            <p>There are no entries in this list.</p>
            {% endfor %}
        </ul>
        <p>
            <button type="button">
                <a class="btn btn-primary" href="/{{ user.username }}/{{ checklist.id }}/entry/add/">Add a new entry</a>
            </button>
        </p>
    </div>
</div>

{% endblock %}