{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
    <div class="col-6">
        <div>
            <h3>Edit list:</h3>
            <h5>{{ checklist.title | upper }}</h5>
        </div>
        <ul class="list-group border border-black">
            {% for entry in object_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center border border-black">
                <input class="form-check-input" type="checkbox" value="" id="{{ entry.name }}">
                <label class="form-check-label" for="{{ entry.name}}">{{ entry.name }}</label>
                <a href="{% url 'entry-delete' user.username checklist.slug entry.id %}" class="badge text-bg-primary rounded-pill">Delete</a>
            </li>
            {% empty %}
            <p>There are no entries in this list.</p>
            {% endfor %}
        </ul>
        <p>
            <button type="button">
                <a class="btn btn-primary" href="{% url 'entry-add' user.username checklist.slug %}">Add a new entry</a>
            </button>
            <button type="button">
                <a class="btn btn-primary" href="{% url 'list-delete' user.username checklist.slug %}">Delete this list</a>
            </button>
            <button type="button">
                <a href="{% url 'index' user.username %}" class="btn btn-primary">
                    Back
                </a>
            </button>
        </p>
    </div>
</div>

{% endblock %}