{% extends "base.html" %}

{% block content %}


<h3>Delete Entry</h3>

<p>Are you sure you want to delete the entry: <b>{{ object.name }}</b>
    <p>from the list <i>{{ checklist.title }}</i>?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Yes, delete</button>
        <button type="button">
            <a href="{% url 'list' user.username checklist.slug %}" class="btn btn-primary">Cancel</a>
        </button>
    </form>

    {% endblock %}
