{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
    {% if object_list %}
    <h3>All my lists</h3>
    {% endif %}
    <ul>
        {% for checklist in object_list %}
        <li>
            <div>
                <button>
                <a href="{% url 'list' user.username checklist.slug %}" class="btn btn-primary">
                {{ checklist.title }}
                </a>
                </button>
            </div>
        </li>
        {% empty %}
        <h4>You have no lists!</h4>
        {% endfor %}
    </ul>

    <p>
        <button>
            <a href="{% url 'list-add' user.username %}" class="btn btn-primary">
                Add a new list
            </a>
        </button>
    </p>
{% endif %}

{% endblock %}