{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div class="col-6">
    {% if object_list %}
    <h3>All my lists</h3>
    {% endif %}
    
    <ul class="list-group border mb-3 border-black">
        {% for checklist in object_list %}
        <a href="{% url 'list' user.username checklist.slug %}" class="list-group-item list-group-item-action border border-black">
            <div class="d-flex justify-content-between align-items-center">
                {{ checklist.title|title }}
                <span class="badge text-bg-primary rounded-pill">{{ checklist.entry_set.all.count }}</span>
            </div>

        </a>

        {% empty %}
        <h4>You have no lists!</h4>
        {% endfor %}
    </ul>

    <p>
            <a href="{% url 'add-list' user.username %}" class="btn btn-primary">
                Add a new list
            </a>
            <a href="{% url 'homepage' %}" class="btn btn-primary">
                Home
            </a>
    </p>
</div>
{% endif %}

{% endblock %}