{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
	<div class="d-flex flex-row justify-content-center flex-wrap align-items-start">

		<div class="card profile-card m-2">
		  <div class="card-body">
		  	<div class="d-flex flex-column justify-content-center p-4">
		  		<div class="image-container mx-auto mb-4">
		  			<img class="d-block border border-dark rounded-circle img-fluid mx-auto profile-image" alt="profile-image" id="id_profile_image" src="{{ profile_image.url }}" width="200">
		  		</div>
		  		<p class="mt-4 mb-1 field-heading">Email</p>
		  		{%  if is_self %}
		  			<h5>{{email}}</h5>
		  		{% else %}
		  			{% if hide_email %}
			  			<h5>**********</h5>
			  		{% else %}
			  			<h5>{{email}}</h5>
			  		{% endif %}
			  	{% endif %}
		  		<p class="mt-4 mb-1 field-heading">Username</p>
		  		<h5>{{username}}</h5>

		  		<!-- If Auth user is viewing their own profile -->
		  		{% if is_self %}
				<a  class="mt-4 btn btn-primary" href="{% url 'account:edit' username %}">Update profile</a>
				<div class="d-flex flex-column mt-4">
					<a class="m-auto" href="{% url 'password_change' %}">Change password</a>
				</div>
		  		{% endif %}
		  	</div>
		  </div>
		</div>

		{% if request.user.is_authenticated %}
		<div class="d-flex flex-column mb-4">

			<!-- THEM to YOU -->
			{% if request_sent == 0 %}
			<div class="card m-2 p-4">
				<div class="d-flex flex-row align-items-center">
					<span class="friend-text align-items-center mr-2">Accept Friend Request?</span>
					<form method="post" action="{% url 'friend:friend-request-decline' friend_request_id %}">
						{% csrf_token %}
						<button type="submit" class="btn btn-danger">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
							</svg>
						</button>
					</form>
					<form method="post" action="{% url 'friend:friend-request-accept' friend_request_id %}">
						{% csrf_token %}
						<button type="submit" class="btn btn-success">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
								<path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
								<path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
							</svg>
						</button>
					</form>
				</div>
			</div>
			{% endif %}

			<div class="card m-2 px-4 pb-4">
				<!-- Cancel Friend Request / Send Friend Request / Remove Friend -->
				{% if is_friend == False and is_self == False %}
						<!-- You sent them a request -->
						{% if request_sent == 1 %}
						<div class="d-flex flex-column align-items-center pt-4">
							<form method="post" action="{% url 'friend:cancel-friend-request' friend_request_id %}">
								{% csrf_token %}
								<input type="submit" class="btn btn-danger" value="Cancel Friend Request" />
							</form>
						</div>
						{% endif %}
						<!-- No requests have been sent -->
						{% if request_sent == -1 %}
						<div class="d-flex flex-column align-items-center pt-4">
							<form method="post" action="{% url 'friend:send-friend-request' username %}">
								{% csrf_token %}
								<input type="hidden" name="receiver_username" value="{{ receiver_username }}" />
								<input type="submit" class="btn btn-primary" value="Send Friend Request" />
							</form>
						</div>
						{% endif %}
				{% endif %}
					
					
				{% if is_friend %}
					<div class="dropdown pt-4 m-auto">
						<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Friends
						</button>
						<ul class="dropdown-menu">
							<li>
								<form method="post" class="dropdown-item" action="{% url 'friend:remove-friend' username %}">
									{% csrf_token %}
									<input type="hidden" name="removee_username" value="{{ removee_username}}" />
									<input type="submit" class="btn btn-danger" value="Remove Friend" />
								</form>
							</li>
						</ul>
					</div>
				{% endif %}
				
				<!-- Friend list link -->
		  		<div class="d-flex flex-column pt-4">
					<a href="{% url 'friend:friend-list' username %}">
						<div class="d-flex flex-row align-items-center justify-content-center icon-container">
							<span class="material-icons mr-2 friends-icon">contact_page</span><span class="friend-text">{{ username }}'s Friends ({{friends|length}})</span>
						</div>
					</a>
				</div>

			</div>

			{% if friend_requests %}
			<div class="card m-2 px-4 pb-4">
				<!-- Friend requests -->
		  		<div class="d-flex flex-column pt-4">
					<a href="{% url 'friend:friend-requests' username %}">
						<div class="d-flex flex-row align-items-center justify-content-center icon-container">
							<span class="material-icons mr-2 person-add-icon">person_add</span><span class="friend-text">Friend Requests ({{friend_requests|length}})</span>
						</div>
					</a>
				</div>
			</div>
			{% endif %}


		</div>
		{% endif %}

		
	</div>
</div>

{% endblock %}